<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleDisplayName</key>
		<string>TIKKLE</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb1661497471012290</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>kakaod887c85791eefc06f749efec74c22acd</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>tikkle</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>tikkle</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>CodePushDeploymentKey</key>
		<string>$(CODEPUSH_KEY)</string>
		<key>FacebookAppID</key>
		<string>1661497471012290</string>
		<key>FacebookClientToken</key>
		<string>25c815ce2800e99dd7dbb228d49e9a59</string>
		<key>FacebookDisplayName</key>
		<string>TIKKLE</string>
		<key>FirebaseDynamicLinksCustomDomains</key>
		<array>
			<string>https://tikkle.lifoli.co.kr</string>
		</array>
		<key>KAKAO_APP_KEY</key>
		<string>d887c85791eefc06f749efec74c22acd</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakao0123456789</string>
			<string>kakaokompassauth</string>
			<string>storykompassauth</string>
			<string>kakaolink</string>
			<string>fbapi</string>
			<string>fb-messenger-api</string>
			<string>fbauth2</string>
			<string>fbshareextension</string>
			<string>instagram</string>
			<string>instagram-stories</string>
			<string>kftc-bankpay</string>
			<string>ispmobile</string>
			<string>itms-apps</string>
			<string>hdcardappcardansimclick</string>
			<string>smhyundaiansimclick</string>
			<string>shinhan-sr-ansimclick</string>
			<string>smshinhanansimclick</string>
			<string>kb-acp</string>
			<string>mpocket.online.ansimclick</string>
			<string>ansimclickscard</string>
			<string>ansimclickipcollect</string>
			<string>vguardstart</string>
			<string>samsungpay</string>
			<string>scardcertiapp</string>
			<string>lottesmartpay</string>
			<string>lotteappcard</string>
			<string>cloudpay</string>
			<string>nhappcardansimclick</string>
			<string>nonghyupcardansimclick</string>
			<string>citispay</string>
			<string>citicardappkr</string>
			<string>citimobileapp</string>
			<string>kakaotalk</string>
			<string>payco</string>
			<string>lpayapp</string>
			<string>hanamopmoasign</string>
			<string>wooripay</string>
			<string>nhallonepayansimclick</string>
			<string>hanawalletmembers</string>
			<string>chaipayment</string>
			<string>kb-auth</string>
			<string>hyundaicardappcardid</string>
			<string>com.wooricard.wcard</string>
			<string>lmslpay</string>
			<string>lguthepay-xpay</string>
			<string>liivbank</string>
			<string>supertoss</string>
			<string>newsmartpib</string>
			<string>ukbanksmartbanknonloginpay</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
			<key>NSAllowsArbitraryLoadsInWebContent</key>
			<true/>
			<key>NSAllowsLocalNetworking</key>
			<true/>
			<key>NSExceptionDomains</key>
			<dict>
				<key>NSAllowsArbitraryLoads</key>
				<true/>
				<key>NSAllowsArbitraryLoadsInWebContent</key>
				<true/>
				<key>localhost</key>
				<dict>
					<key>NSExceptionAllowsInsecureHTTPLoads</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>App would like to access your camera</string>
		<key>NSContactsUsageDescription</key>
		<string>연락처 상 가입된 친구가 있다면 자동으로 친구가 추가됩니다. 그 외의 용도로는 절대 저장 또는 사용하지 않습니다.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string></string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We need access to your photos to allow you to choose a profile picture.</string>
		<key>UIAppFonts</key>
		<array>
			<string>AppleSDGothicNeoB.ttf</string>
			<string>AppleSDGothicNeoEB.ttf</string>
			<string>AppleSDGothicNeoH.ttf</string>
			<string>AppleSDGothicNeoL.ttf</string>
			<string>AppleSDGothicNeoM.ttf</string>
			<string>AppleSDGothicNeoR.ttf</string>
			<string>AppleSDGothicNeoSB.ttf</string>
			<string>AppleSDGothicNeoT.ttf</string>
			<string>AppleSDGothicNeoUL.ttf</string>
			<string>CherryBombOne-Regular.ttf</string>
			<string>BMHANNA_11yrs_otf.otf</string>
			<string>Modak-Regular.ttf</string>
			<string>BebasNeue-Regular.ttf</string>
			<string>BlackHanSans-Regular.ttf</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
